.list-view {
  width: 100%;
  border: 1px solid black;
}

.annotation {
  position: absolute;
  border: 3px solid green;
  width: 100px;
  height: 100px;
  z-index: 230;
}

.videogular-container {
  position: relative;
}

.cview .btn {
  margin-top: 10px;
}

#transparent-plan {
  cursor: pointer;
  position: absolute;
  z-index: 3;
}

#eventLine {
  border: 1px solid black;
  width: 1140px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 6px;
}

.event {
  position: absolute;
  height: 23px;
  background-color: #07f;
  margin-top: 1px;
  text-align: center;
  padding-top: 2px;
  overflow: auto;
  color: white;
}

.inf-msg {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;

  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 800px;
  height: 120px;
  border: 1px solid black;
  padding: 20px 10px 10px 10px;
  border-radius: 6px;
  box-shadow: 0 0 10px #444;
  font-size: 250%;
  text-align: center;
  z-index: 4;
  background: white;
}

.inf-msg.ng-hide {
  opacity: 0;
}
