<div class="obj">
    <h2 style="margin: 0 auto 20px auto;">Objets</h2>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="corpus" class="col-sm-1 control-label">Corpus</label>
            <div class="col-sm-11">
                <select
                        type="button"
                        class="form-control"
                        ng-options="c._id as c.name for c in cappdata.corpora"
                        ng-model="corpus"
                        ng-change="updateObjects()"
                        id="corpus"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="layer" class="col-sm-1 control-label">Layer</label>
            <div class="col-sm-11">
                <select
                        type="button"
                        class="form-control"
                        ng-options="l._id as l.name for l in cappdata.layers"
                        ng-model="layer"
                        ng-change="updateObject()"
                        id="layer"></select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label">Object</label>
            <div class="col-sm-11">
                <select
                        class="form-control"
                        ng-options="o.Id_texte for o in cappdata.metadata.objet"
                        ng-change="updateObject()"
                        ng-model="object"></select>
            </div>
        </div>
    </form>

    <div class="row objets-info" ng-show="objectSelected">
        <div class="col-sm-12">
            <h3>Informations sur l'objet</h3>
            <json-formatter json="objectSelected" open="1"></json-formatter>
        </div>
    </div>

    <div class="row objets-objet" ng-repeat="m in cappdata.mediaSelected" ng-if="cappdata.mediaSelected[0]">
        <div class="col-sm-6">
            <camomile-box infos="{{m.infos}}">
                <camomile-canvas></camomile-canvas>
                <camomile-media type="m.description.type" src="m.urlSecure"></camomile-media>
            </camomile-box>
        </div>
        <div class="col-sm-6">
            <json-formatter json="m.description" open="1"></json-formatter>
        </div>
    </div>
</div>

<camomile-loader api="api"></camomile-loader>