<div class="modal-header">
  <h3 class="modal-title">Customize description</h3>
</div>
<div class="modal-body">
  <h4>You must specify a key with a value</h4>
  <div class="row" ng-repeat="v in ve">
    <div class="col-sm-5">
      <input type="text" class="form-control" ng-keypress="addField()" ng-model="v.key">
    </div>
    <div class="col-sm-7">
      <input type="text" class="form-control" ng-model="v.value">
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
