<videogular vg-player-ready="video.onPlayerReady($API)">
  <vg-media vg-src="src"></vg-media>
  <!-- CONTROLES, au cas ou -->
  <!-- <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    </vg-scrub-bar>
    <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
    <vg-volume>
    <vg-mute-button></vg-mute-button>
    <vg-volume-bar></vg-volume-bar>
    </vg-volume>
    </vg-controls> -->
</videogular>

<div class="row">
  <div class="col-sm-12 btn-group">
    <button type="button" class="btn btn-default" ng-click="video.videoBegin()"><img src="icons/control-skip-180.png" alt="Début vidéo" /></button>
    <button type="button" class="btn btn-default" ng-click="video.previousSecond()"><img src="icons/control-double-180.png" alt="Seconde précédente" /></button>
    <button type="button" class="btn btn-default" ng-click="video.previousFrame()"><img src="icons/control-stop-180.png" alt="Image précédente" /></button>
    <button type="button" class="btn btn-default" ng-click="video.videoPlay()"><img src="icons/control.png" alt="Play" /></button>
    <button type="button" class="btn btn-default" ng-click="video.videoPause()"><img src="icons/control-pause.png" alt="Pause" /></button>
    <button type="button" class="btn btn-default" ng-click="video.videoStop()"><img src="icons/control-stop-square.png" alt="Stop" /></button>
    <button type="button" class="btn btn-default" ng-click="video.nextFrame()"><img src="icons/control-stop.png" alt="Image suivante" /></button>
    <button type="button" class="btn btn-default" ng-click="video.nextSecond()"><img src="icons/control-double.png" alt="Seconde suivante" /></button>
    <button type="button" class="btn btn-default" ng-click="video.videoEnd()"><img src="icons/control-skip.png" alt="Fin vidéo" /></button>
    <button type="button" class="btn btn-default" ng-click="video.alertTimestamp()"><img src="icons/information.png" alt="Info" /></button>
    <button type="button" class="btn btn-default" ng-click="video.testFrame()"><img src="icons/hammer.png" alt="Debug" /></button>
    <button type="button" class="btn btn-default" ng-click="dataCtrl.apis.canvas.clearCanvas(true)"><img src="icons/prohibition.png" alt="Clear canvas" /></button>
    <button type="button" class="btn btn-default" ng-click="dataCtrl.canvas.saveAnnotation()"><img src="icons/film--plus.png" alt="Save annotaion" /></button>
  </div>
</div>

<rzslider
    rz-slider-model="slider.value"
    rz-slider-options="slider.options"></rzslider>
