<h2>Segmentation des media</h2>
<div class="row">
  <div class="col-sm-12">
    <select ng-options="c._id as c.name for c in cappdata.corpora" ng-model="corpus" ng-change="updateMedium()"></select>
    <select ng-options="m._id as m.name for m in cappdata.media" ng-model="medium" ng-change="updateView()"></select>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <camomile-box ng-if="cappdata.mediumInfos">
      <camomile-media type="cappdata.mediumInfos.description.type" src="cappdata.mediumInfos.urlSecure"></camomile-media>
    </camomile-box>
  </div>
</div>
