<div ng-controller='VideoCtrl' ng-class="videoClass">
  <canvas class="transparent-plan" ng-click="addOnClick($event)" height="{{dimensions.video.height}}" width="{{dimensions.video.width}}"></canvas>

  <videogular vg-player-ready="onPlayerReady($API)">
    <vg-media vg-src="src"></vg-media>
    <!-- CONTROLES, au cas ou -->
    <!-- <vg-controls>
      <vg-play-pause-button></vg-play-pause-button>
      <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      </vg-scrub-bar>
      <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
      <vg-volume>
        <vg-mute-button></vg-mute-button>
        <vg-volume-bar></vg-volume-bar>
      </vg-volume>
    </vg-controls> -->
  </videogular>

  <div class="row text-center video-elem">
    <button type="button" class="btn btn-default" name="button" ng-click="videoBegin()"><img src="icons/control-skip-180.png" alt="Début vidéo" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="previousSecond()"><img src="icons/control-double-180.png" alt="Seconde précédente" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="previousFrame()"><img src="icons/control-stop-180.png" alt="Image précédente" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="videoPlay()"><img src="icons/control.png" alt="Play" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="videoPause()"><img src="icons/control-pause.png" alt="Pause" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="videoStop()"><img src="icons/control-stop-square.png" alt="Stop" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="nextFrame()"><img src="icons/control-stop.png" alt="Image suivante" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="nextSecond()"><img src="icons/control-double.png" alt="Seconde suivante" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="videoEnd()"><img src="icons/control-skip.png" alt="Fin vidéo" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="alertTimestamp()"><img src="icons/information.png" alt="Info" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="testFrame()"><img src="icons/hammer.png" alt="Debug" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="clearCanvas(true)"><img src="icons/prohibition.png" alt="Clear canvas" /></button>
    <button type="button" class="btn btn-default" name="button" ng-click="saveAnnotation()"><img src="icons/film--plus.png" alt="Save annotaion" /></button>
  </div>

  <div class="others">
    <div class="slider-ref">
      <div class="timebar" ng-style="timebar"></div>
    </div>

    <div class="row text-center video-elem">
      <div class="col-sm-12">
        <rzslider
             rz-slider-model="slider.value"
             rz-slider-options="slider.options"></rzslider>
      </div>
    </div>

    <div class="row video-elem">
      <div class="col-sm-12 slider-ref">
        <div ng-repeat="e in events">
          <div class="event" style="margin-left: {{e.begin}}px; width: {{e.duration}}px;">{{e.text}}</div>
        </div>
        <div class="eventLine"></div>
      </div>
    </div>


    <div class="row video-elem">
      <div class="col-sm-12 slider-ref">
        <div class="graph">
          <nvd3 options="graph.options" data="graph.data" on-ready="graphCallback"></nvd3>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Annotation</h3>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-6">
          <h4>Options</h4>
          <form class="form">
            <div class="form-group">
              <label>Forme</label>
              <select class="form-control" ng-options="o.key as o.description for o in config.annotation.drawStyles" ng-model="config.annotation.drawStyle"></select>
            </div>
            <div class="form-group">
              <label>Couleur du trait</label>
              <select class="form-control" ng-options="o.color as o.description for o in config.annotation.colors" ng-model="config.annotation.strokeColor"></select>
            </div>
            <div class="form-group">
              <label>Largeur du trait</label>
              <input class="form-control" type="number" ng-model="config.annotation.strokeWidth">
            </div>
          </form>
        </div>
        <div class="col-sm-6" ng-show="annotation.points.length > 1">
          <h4>Annotation actuelle</h4>
          <form class="form">
            <div class="form-group">
              <label for="aname">Nom</label>
              <input type="text" class="form-control" name="aname" id="aname" ng-model="annotation.name">
            </div>
            <div class="form-group">
              <label for="aduration">Durée (en millisecondes)</label>
              <input type="number" class="form-control" name="aduration" id="aduration" step="250" ng-model="annotation.duration">
            </div>
          </form>
        </div>
      </div>
      <hr>
      <h4>Annotations existantes</h4>
      <div class="row">
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <th>Nom</th>
              <th>Forme</th>
              <th>Temps de début</th>
              <th>Durée</th>
              <th>Points (en JSON)</th>
            </thead>
            <tbody>
              <tr ng-repeat="a in annotations">
                <td ng-repeat="p in a">{{p}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="inf-msg" ng-show="infMsg.show">
    <b>Message:</b> {{infMsg.message}}
  </div>
</div>
