<h2 style="margin: 0 auto 20px auto;">Segmentation des media</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-1 control-label">Corpus</label>
        <div class="col-sm-11">
            <select
                    class="form-control"
                    ng-options="c._id as c.name for c in cappdata.corpora"
                    ng-model="corpus"
                    ng-change="updateMedium()"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">Video</label>
        <div class="col-sm-11">
            <select
                    class="form-control"
                    ng-options="m._id as m.name for m in cappdata.media"
                    ng-model="medium"
                    ng-change="updateView()"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-1 control-label">Layer</label>
        <div class="col-sm-11">
            <select
                    class="form-control"
                    ng-options="m._id as m.name for m in cappdata.layers"
                    ng-model="layer"
                    ng-change="updateView()"></select>
        </div>
    </div>
</form>

<div class="row" ng-if="cappdata.mediaSelected[0]">
    <div class="col-sm-12">
        <camomile-box api="api">
            <camomile-media type="cappdata.mediaSelected[0].description.type" src="cappdata.mediaSelected[0].urlSecure"></camomile-media>
            <camomile-details graph="false"></camomile-details>
        </camomile-box>
    </div>
</div>

<camomile-loader api="api"></camomile-loader>
<camomile-popup api="api"></camomile-popup>
