<h2 style="margin: 0 auto 20px auto;">Backoffice</h2>
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="backoffice-pannel">
                <h4>Add user</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="au_uname" class="control-label col-sm-5">User name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="au_uname" ng-model="creation.user.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="au_psw" class="control-label col-sm-5">User password</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="password" id="au_psw" ng-model="creation.user.password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="au_ur" class="control-label col-sm-5">User role</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="au_ur" ng-model="creation.user.role">
                                <option value="user" selected>User</option>
                                <option value="admin">Admin</option>
                            </select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.user, 'description')">Customize description</button>
                    <button
                            type="button"
                            class="btn btn-primary form-control"
                            ng-click="cappdata.create('user', creation.user.name, creation.user.password, creation.user.description, creation.user.role)">Create</button>
                </form>
            </div>
            <div class="backoffice-pannel">
                <h4>Add group</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ag_gname" class="control-label col-sm-5">Group name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="ag_gname" ng-model="creation.group.name">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.group, 'description')">Customize description</button>
                    <button
                            type="button"
                            class="btn btn-primary form-control"
                            ng-click="cappdata.create('group', creation.group.name, creation.group.description)">Create</button>
                </form>
            </div>
            <div class="backoffice-pannel">
                <h4>Add corpus</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="ac_cname" class="control-label col-sm-5">Corpus name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="ac_cname" ng-model="creation.corpus.name">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.corpus, 'description')">Customize description</button>
                    <button
                            type="button"
                            class="btn btn-primary form-control"
                            ng-click="cappdata.create('corpus', creation.corpus.name, creation.corpus.description)">Create</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="backoffice-pannel">
                <h4>Add layer</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="al_lname" class="control-label col-sm-5">Layer name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="al_lname" ng-model="creation.layer.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="al_cname" class="control-label col-sm-5">Corpus</label>
                        <div class="col-sm-7">
                            <select id="al_cname" class="form-control" ng-options="c._id as c.name for c in cappdata.corpora" ng-model="creation.layer.corpus"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.layer, 'description')">Customize description</button>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.layer, 'fragment_type')">Customize fragment type</button>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.layer, 'data_type')">Customize data type</button>
                    <button
                            type="button"
                            class="btn btn-primary form-control"
                            ng-click="cappdata.create('layer', creation.layer.corpus, creation.layer.name, creation.layer.description, creation.layer.fragment_type, creation.layer.data_type)">Create</button>
                </form>
            </div>
            <div class="backoffice-pannel">
                <h4>Add medium</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="am_mname" class="control-label col-sm-5">Medium name</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="am_mname" ng-model="creation.medium.name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="am_murl" class="control-label col-sm-5">Medium url</label>
                        <div class="col-sm-7">
                            <input class="form-control" type="text" id="am_murl" ng-model="creation.medium.url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="am_cname" class="control-label col-sm-5">Corpus to add to</label>
                        <div class="col-sm-7">
                            <select id="am_cname" class="form-control" ng-options="c._id as c.name for c in cappdata.corpora" ng-model="creation.medium.corpus"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default form-control" ng-click="setFields(creation.medium, 'description')">Customize description</button>
                    <button
                            type="button"
                            class="btn btn-primary form-control"
                            ng-click="cappdata.create('medium', creation.medium.corpus, creation.medium.name, creation.medium.url, creation.medium.description)">Create</button>
                </form>
            </div>
            <div class="backoffice-pannel">
                <h4>Add user into a group</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-5">Add user...</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="u._id as u.username for u in cappdata.users" id="userselect" ng-model="creation.userToGroup.userId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">To group...</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="g._id as g.name for g in cappdata.groups" id="groupselect" ng-model="creation.userToGroup.groupId"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary form-control" ng-click="addUserToGroup()">Add</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="backoffice-pannel">
                <h4>Grant rights on a corpus</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-5">User</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="u._id as u.username for u in cappdata.users" ng-model="creation.rightsToUserOnCorpus.userId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Corpus</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="c._id as c.name for c in cappdata.corpora" ng-model="creation.rightsToUserOnCorpus.corpusId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Rights</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="r.key as r.value for r in rightsExisting" ng-model="creation.rightsToUserOnCorpus.rights"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary form-control" ng-click="addRightsToUserOnCorpus()">Grant</button>
                </form>
            </div>
            <div class="backoffice-pannel">
                <h4>Grant rights on a corpus</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-5">User</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="u._id as u.username for u in usersExisting" ng-model="creation.rightsToUserOnLayer.userId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Layer</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="l._id as l.name for l in layersExisting" ng-model="creation.rightsToUserOnLayer.corpusId"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-5">Rights</label>
                        <div class="col-sm-7">
                            <select class="form-control" ng-options="r.key as r.value for r in rightsExisting" ng-model="creation.rightsToUserOnLayer.rights"></select>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary form-control" ng-click="addRightsToUserOnLayer()">Grant</button>
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <h4>Existing users</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Role</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cappdata.users">
                <td><a href="" ng-click="cappdata.delete('user', p._id)">{{ p._id }}</a></td>
                <td>{{ p.username }}</td>
                <td>{{ p.role }}</td>
                <td><json-tree object="p.description"></json-tree></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Existing groups</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Users</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cappdata.groups">
                <td><a href="" ng-click="cappdata.delete('group', p._id)">{{ p._id }}</a></td>
                <td>{{ p.name }}</td>
                <td><json-tree object="p.users"></json-tree></td>
                <td><json-tree object="p.description"></json-tree></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Existing corpora</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cappdata.corpora">
                <td><a href="" ng-click="cappdata.delete('corpus', p._id)">{{ p._id }}</a></td>
                <td>{{ p.name }}</td>
                <td><json-tree object="p.description"></json-tree></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Existing layers</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Corpus</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cappdata.layers">
                <td><a href="" ng-click="cappdata.delete('layer', p._id)">{{ p._id }}</a></td>
                <td>{{ p.name }}</td>
                <td>{{ convertCorpus(p.id_corpus).name }}</td>
                <td><json-tree object="p.description"></json-tree></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Existing media</h4>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Url</th>
                <th>Corpus</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="p in cappdata.media">
                <td><a href="" ng-click="cappdata.delete('medium', p._id)">{{ p._id }}</a></td>
                <td>{{ p.name }}</td>
                <td>{{ p.url }}</td>
                <td>{{ convertCorpus(p.id_corpus).name }}</td>
                <td><json-tree object="p.description"></json-tree></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<camomile-loader api="api"></camomile-loader>
<camomile-popup api="api"></camomile-popup>
