<div class="modal-header">
    <h3 class="modal-title">Customize fields</h3>
</div>
<div class="modal-body">
    <h4>You must specify a key with a value</h4>
    <div class="row" ng-repeat="v in ve" style="margin-bottom: 10px;">
        <div class="col-sm-12">
            <div class="col-sm-5">
                <input type="text" class="form-control" ng-keypress="addField()" ng-model="v.key" placeholder="Key">
            </div>
            <div class="col-sm-1">
                <span style="font-size: 145%;">→</span>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="v.value" placeholder="Value">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
