<div ng-show="dataCtrl.apis.video">
    <div class="row">
        <div class="col-sm-12 text-center" style="margin-bottom: 12px">
            <button type="button" class="btn btn-success" ng-click="beginEvent()">Début segment</button>
            <button type="button" class="btn btn-warning" ng-click="endEvent()">Fin segment</button>
        </div>
    </div>

    <div class="details-display">
        <div class="timebar" ng-style="timebarClass"></div>

        <div ng-repeat="l in lignes">
            <div ng-repeat="e in l">
                <div class="event" ng-style="e.getDataField('style')" ng-click="editSegment(e)">{{e.getDataField('text')}}</div>
            </div>
            <event-div></event-div>
        </div>

        <div class="graph" ng-if="graph">
            <nvd3 options="graph.options" data="graph.data" on-ready="graphCallback"></nvd3>
        </div>
    </div>

</div>
